{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Sign In" %}{% endblock title %}

{% block content %}

<div class="container form-container form-account">

  <h1 class="form__title">{% trans "Sign In" %}</h1>
  <p class="text-center">{% blocktrans %}Needed an account? <a href="{{ signup_url }}">Sign up</a>{% endblocktrans %}</p>

  <div>
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <button class="btn form__button form__button--primary" type="submit">{% trans "Sign In" %}</button>
      <a class="button secondaryAction d-block text-center form__link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
  </div>
</div>
{% endblock content %}
