{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock title %}

{% block content %}

<div class="container form-container form-account">
  <h1 class="form__title">{% trans "Sign Up" %}</h1>
  
  <p class="text-center">{% blocktrans %}Already have an account? <a href="{{ login_url }}">Sign in</a>{% endblocktrans %}</p>
  <div>
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form|crispy }}

      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <button class="btn form__button form__button--primary" type="submit">Sign Up</button>
   
    </form>
  </div>
</div>

{% endblock content %}
