{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock title %}

{% block content %}

<div class="container account">
  <h1 class="account__title">{% trans "Sign Up" %}</h1>
  
  <p class="text-center">{% blocktrans %}Already have an account? <a href="{{ login_url }}">Sign in</a>{% endblocktrans %}</p>
  <div>
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <div>
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
    </div>
      <button class="btn account__button account__button--primary" type="submit">Sign Up</button>
    </form>
  </div>
</div>

{% endblock content %}
