{% extends 'base.html' %} 
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- Start: Hero Section -->
<section class="container pt-5 pe-5 ps-5 pe-lg-0 ps-lg-0">

    <div class="hero d-flex flex-column align-items-center flex-md-row gap-md-4">
        <!-- Hero Text -->
        <div class="hero__text d-flex flex-column align-items-center align-items-md-start">
            <h1 class="text-center fw-bold mb-4 text-md-start">Reading with adventure</h1>
            <p class="text-center text-md-start">Welcome to findMEreadME! </p>
            <p class="text-center text-md-start">A platform that gives you the chance to follow the steps of your books around the globe and read books from all over the world. Choose the book, find it, read it, share it with others and have!</p>
            <div class="d-flex flex-column flex-sm-row gap-2 just-content-md-left">
                <a class= "btn hero__button account__button hero__button--primary" href="{% url 'account_signup' %}"> Get Started</a>
                <a class= "btn hero__button account__button hero__button--secondary" href="{% url 'how' %}"> Learn More</a>
            </div>
        </div>
        <!-- Hero Image -->
        <div class="hero__picture flex-md-shrink-0">
            <img class="hero__image" src="{% static 'images/hero.svg' %}" alt="Two people enjoying reading books">
        </div>
        
    </div>

</section>
<!-- End: Hero Section -->

<section class="container pt-5">
    <div class="about">
        <h2 class="text-center pb-3">Does this sound familiar to you?</h2>
        <div class="about__list pb-3">
                <div class="about__item"> 
                    <div class="about__icon"><i class="fa-solid fa-heart"></i></div> 
                    <div class="about__text"><p>You love reading books.</p></div>
                </div>
                <div class="about__item"> 
                    <div class="about__icon"><i class="fa-solid fa-hand-holding-dollar"></i></div> 
                    <div class="about__text"><p>You don't want to buy new books.</p></div>
                </div>
                <div class="about__item"> 
                    <div class="about__icon"><i class="fa-solid fa-lightbulb"></i></div>
                    <div class="about__text"><p>You have an interesting book which you think everybody should read.</p></div>
                </div>
                <div class="about__item">
                    <div class="about__icon"><i class="fa-solid fa-trash"></i></div>
                    <div class="about__text"><p>You have a lot of books in your bookshelf which you wont read anymore.</p></div>
                </div>
                <div class="about__item">
                    <div class="about__icon"><i class="fa-solid fa-location-dot"></i></div>
                    <div class="about__text"><p>You like both geocaching and reading books.</p></div>
                </div>
                <div class="about__item">
                    <div class="about__icon"><i class="fa-solid fa-question"></i></div>
                    <div class="about__text"><p>You say yes to give new things and love reading books.</p></div>
                </div>
        </div>
        <p class="text-center">Then your are at the right place ...</p>
    </div>
</section>


{% endblock %}