@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato:ital,wght@0,400;1,300;1,400&display=swap');

/* general rules */
html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

:root {
    /* Fonts */
    --title-font: 'Lato', sans-serif;
    --text-font: 'Fira Sans', sans-serif;

    /* Colors */
    --primary-color: #967712;
    --primary-color-light: #f7c31f;
    --secondary-color-light: #465963;
    --secondary-color:#353c3a;
    --bg-white: #DFDFDF;
    --white: #fff;
    --black: #201F1F;

    /* Utils */
    --box-shadow:box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

body{
    font-family: var(--text-font);
    background-color: var(--bg-white);
    color: var(--black);
}

h1, h2, h3, h4 {
    font-family: var(--title-font);
}

/* Header */
.navbar{
    background-color: var(--primary-color);
}

.navbar-text, 
.navbar-text-bold{
    font-family: var(--title-font);
    color: var(--black);
}

.navbar-text-bold{
    font-style: italic;
    font-weight: bold;
}

a.nav-link{
    color: var(--black);
    font-family: var(--title-font);
}

.navbar-expand-lg .navbar-collapse{
    justify-content: end;
}