@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato:ital,wght@0,400;1,300;1,400&display=swap');

/* general rules */
html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

:root {
    /* Fonts */
    --title-font: 'Lato', sans-serif;
    --text-font: 'Fira Sans', sans-serif;

    /* Colors */
    --primary-color: #967712;
    --primary-color-light: #FFC727;
    --secondary-color-light: #465963;
    --secondary-color:#353c3a;
    --bg-white: #DFDFDF;
    --white: #fff;
    --black: #0E0E0E;

    /* Utils */
    --border-radius: 10px;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

html, body {
    height: 100%
}


body{
    font-family: var(--text-font);
    background-color: var(--bg-white);
    color: var(--black);
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4 {
    font-family: var(--title-font);
}

main{
    flex: 1 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
   flex-shrink: 0; 
}


/* ++++++++++++++ Header ++++++++++++++ */
.navbar{
    background-color: var(--primary-color-light);
}

.navbar-text, 
.navbar-text-bold{
    color: var(--black);
}

.navbar-text-bold{
    font-style: italic;
    font-weight: bold;
}

a.nav-link{
    color: var(--black);
    font-family: var(--title-font);
}

.navbar-expand-lg .navbar-collapse{
    justify-content: end;
}

/* ++++++++++++++ Footer +++++++++++++++++ */
.footer{
    background-color: var(--primary-color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.footer__link i{
    width: 35px;
    height: 35px;
    background-color:var(--black);
    color: var(--primary-color-light);
    border-radius: 50%;
    padding: 8px 0;
    text-align: center;
    font-size: 20px;
}

.copyright__link{
    color: var(--black);
}

/* ++++++++++++++ Hero Section ++++++++++++++ */
.container{
    max-width: 900px;
}

.hero__picture{
    max-width: 500px;
}

.hero__image{
    width: 100%;
}

.hero__button{
    width: 170px;
    box-shadow: var(--box-shadow);
    border-radius: 15px;
}

.hero__button--primary{
    width: 170px;
    box-shadow: var(--box-shadow);
    background-color: var(--primary-color-light);  
}

.btn.hero__button--primary:hover{
    border-color:var(--primary-color);
}

.hero__button--secondary{
    border-color:var(--secondary-color);
    border-radius: 15px;
}

.btn.hero__button--secondary:hover{
    
    background-color: var(--secondary-color-light);
    color: var(--white);
}

/* ++++++++++++++ About Section ++++++++++++++ */
.about__list{
    display:grid;
    grid-template-columns: 1fr; 
    justify-items: center;
    gap: 10px;
}

.about__item {
    width: 230px;
    height: 100px;
    background-color: var(--white);
    border-radius: var(--border-radius);
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    align-items: center;
}
.about__icon{
    flex: 0 0 25%;
    height: 100%;
    background-color: var(--primary-color-light);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__text{
    padding: 0 5px;
    flex: 0 0 75%;
    font-size:0.9rem;   
}
.about__text p{
    margin: 0;
}

.about__icon i{
    font-size: 20px;
    background-color: var(--white);
    color: var(--primary-color);
    border-radius: 50%;
    border: 1px dotted var(--secondary-color-light);
    height: 35px;
    width: 35px;
    text-align: center;
    padding-top: 7px;
}


/* User Account */
.container.account{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 350px;
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 20px 10px;
    margin: 20px;
}
.account__title{
    text-align: center;
    padding: 0 0 10px;
}

.account__button{
    display: block;
    margin: 2px;
    margin-bottom: 5px;
}

.account__button--primary{
    width: 100%;
    background-color: var(--primary-color);
    color:var(--black);
}

.btn.account__button--primary:hover{
    width: 100%;
    border-color: var(--primary-color);
}

.account__button--secondary{
    border-color: var(--secondary-color-light);
}

.btn.account__button--secondary:hover{
    background-color: var(--secondary-color-light);
    color: var(--white);
}

#hint_id_password1 ul li{
    font-size:10px;
}


/* How it works */
.timeline{
    margin-bottom: 20px;
}
.card {
    position: relative;
    margin: 20px;
    padding: 20px;
    background: var(--white);
    border-radius: calc(var(--border-radius)*2);
    box-shadow: var(--box-shadow);
    max-width: 400px;
  }
  
  /* Information about the timeline */
  .card__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  /* Title of the card */
  .card__title {
    color: var(--black);
    position: relative;
  }
  
  /* Timeline dot  */
  .card__title::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--primary-color);
    border-radius: 50%;
    left: -50px;
  }

  .card::after {
    content: "";
    position: absolute;
    width: 1px;
    background: var(--primary-color);
    top: 0;
    bottom: -24px;
    left: -21px;

  }






@media screen and  (min-width: 630px){
    .about__list{
        grid-template-columns: 1fr 1fr; 
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 820px){
    .about__list{
        grid-template-columns: 1fr 1fr 1fr; 
    }
}