{% load static %}
<!-- data-book: creator or contributor -->
{% for item in book.get_user_status %}

  {% if request.user|stringformat:"s" == item.user__username and book.title == item.title and item.book_contribution__user__username == item.user__username %}
  <a href="{% url 'book_detail' book.id %}" class="book" data-book="creator" aria-label="Click to see more details for {{ book.title }}">
  {% else %}
    {% if request.user|stringformat:"s" == item.book_contribution__user__username and book.title == item.title and item.book_contribution__user__username != item.user__username %}
    <a href="{% url 'book_detail' book.id %}" class="book" data-book="contributor" aria-label="Click to see more details for {{ book.title }}"> 
    {% endif %}
  {% endif %}
{% endfor %}
<!-- data-book: visitor -->
{% if request.user|stringformat:"s" not in book.get_contribution_users %}
<a href="{% url 'book_detail' book.id %}" class="book" data-book="visitor" aria-label="Click to see more details for {{ book.title }}">
{% endif %}
    <div class="card">

        <!-- Book Image: Default Image has to be set manually due to cloudinary -->
        {% if book.image == 'media/books/placeholder.placeholder.webp' %}
        <div class="card-img-container align-self-center">
                <img src="https://res.cloudinary.com/dqtlflps3/image/upload/v1697374709/media/books/placeholder.webp" alt="{{ book.image_alt }}">
            {% else %}
        <div class="card-img-container">
                <img src="{{ book.image.url }}" class="card-img-top" alt="{{ book.image_alt }}">
            {% endif %}
        </div>
        <div class="card-body d-flex flex-column">
          <h2 class="card-title">{{ book.title|truncatechars:30 }}</h2>
          <p class="card-author">{{ book.author|truncatechars:30 }}</p> 
          <p class="card-text">{{ book.description|truncatechars:100 }}</p>
          <p class="book-stat align-self-end">
            <i class="fa-solid fa-user"></i><strong>{{ book.get_total_readers }}</strong>
            <span class="p-1"> </span>
            <i class="fa-solid fa-location-dot "></i><strong> {{ book.get_num_cities }}</strong>
          </p>
          
        </div>
      </div>
</a>