{% extends 'base.html' %}
{% load static %}

{% block title %}Search Books{% endblock %}

{% block content %}

<h1 class="text-center p-5">Search Books</h1>

{% include 'includes/search_book.html' %}

<div class="books-container">
    {% for book in books %}
        {% include 'includes/books_list.html' %}
    {% endfor %}
</div>
{% if not request.user.is_authenticated %}
<div class="d-flex flex-column flex-sm-row gap-sm-2 just-content-md-left pb-4">
    <a class= "btn hero__button account__button hero__button--primary" href="{% url 'account_signup' %}"> See More</a>
</div>
{% endif %}

{% endblock %}
