{% extends 'base.html' %}
{% load static %}

{% block title %}Book Key{% endblock %}

{% block content %}

<div class="book-detail">
    <h1 class="text-center pt-5">Book Key</h1>
    <p class="book-detail__user"> </p>

    <div class="container book-key-container">
        <p>The following unique key was assigned to your book.</p>
        <p class="p-3 book-key"> {{ key.key }}</p>
        <p>Please, note the unique key and use the template below. Fix the filled in template inside the book so that everyone can find it. This will make sure that others can contribute to the journey of your book and share their experience.</p>
        <a href="../../../static/documents/registration_book_key_instructions.pdf" target="_blank" class="btn action__button mb-3">Template</a>


    </div>
</div>
{% endblock %}