{% extends 'base.html' %}
{% load static %}

{% block title %}Books{% endblock %}

{% block content %}

<h1 class="text-center p-5">Latest Books</h1>
<div class="books-container">
    
    {% for book in books %}
        <a href="" class="book" aria-label="Click to see more details for {{ book.title }}">
            <div class="card">

                <!-- Book Image: Default Image has to be set manually due to cloudinary -->
                {% if book.image == 'media/books/placeholder.placeholder.webp' %}
                <div class="card-img-container align-self-center">
                        <img src="https://res.cloudinary.com/dqtlflps3/image/upload/v1697374709/media/books/placeholder.webp" alt="{{ book.image_alt }}">
                    {% else %}
                <div class="card-img-container">
                        <img src="{{ book.image.url }}" class="card-img-top" alt="{{ book.image_alt }}">
                    {% endif %}
                </div>
                

                <div class="card-body">
                  <h2 class="card-title">{{ book.title|truncatechars:30 }}</h2>
                  <p class="card-author">{{ book.author|truncatechars:30 }}</p> 
                  <p class="card-text">{{ book.description|truncatechars:70 }}</p>
                  <!-- <a href="#" class="btn btn-primary">Delete</a> -->
                </div>
              </div>
        </a>
    {% endfor %}
</div>

{% endblock %}
