{% extends 'base.html' %}
{% load static %}

{% block title %}Book Detail|{{ book.title }}{% endblock %}

{% block content %}

<div class="book-detail">
    <h1 class="text-center pt-5">{{book.title}}</h1>
    <p class="book-detail__user"> Registered by {{ book.user}}</p>

    <div class="container">
        <div class="book-detail__header" >
            <!-- Book Image: Default Image has to be set manually due to cloudinary -->
            {% if book.image == 'media/books/placeholder.placeholder.webp' %}
            <div class="book-detail__picture align-self-center">
                <img src="https://res.cloudinary.com/dqtlflps3/image/upload/v1697374709/media/books/placeholder.webp" alt="{{ book.image_alt }}">
            {% else %}
            <div class="book-detail__picture">
                <img src="{{ book.image.url }}" alt="{{ book.image_alt }}">
            {% endif %}
            </div>
            <div class="book-detail__panel">
                <div class="book-detail__info">
                    <p class="m-0"><strong>Book Journey</strong></p>
                    <div class="book-statistics mb-2">
                        <!-- total number of readers -->
                        <p class="book-stat"> Readers: <strong>{{ book.get_total_readers }}</strong> <i class="fa-solid fa-user"> </i></p>
                        <!-- total number of cities and cities list -->
                        <p class="book-stat"> Cities: <strong> {{ book.get_num_cities }}</strong> <i class="fa-solid fa-location-dot "></i></p>
                        <p class="book-stat">
                            {% for city in book.get_list_cities %}
                                    <span class="book-city"> {{ city }}</span>
                                {% endfor %}
                        </p>
                    </div>
                    <p><strong>Author</strong>: {{ book.author }}</p>
                    <p><strong>Published Year</strong>: {{ book.published_year }}</p>
                    <p><strong>Language</strong>: {{ book.language|title }}</p>
                    
                </div>
               
            </div>
        </div>
        {% if request.user.is_authenticated and  book.user == request.user %}
        <div class="buttons d-flex flex-column aling-items-end pb-3">
            <div class="d-flex flex-row flex-grow-0 gap-2 justify-content-end">
                <a href="{% url 'edit_book' book.id %}" class="btn action__button"> <i class="far fa-edit"> </i> Edit</a>
                <a href="{% url 'delete_book' book.id %}" class="btn action__button"> <i class="fa-solid fa-trash"> </i> Delete</a>
            </div>
        </div>
        {% endif %}
        <div class="book-detail__description">
            <p> <strong>Description</strong>: {{ book.description }}</p>
        </div>
        {% if request.user.is_authenticated and  book.user == request.user %}
        <p class="m-0"><strong>Readers Reactions</strong></p>
        <div class="book-detail__comments">
            {% for item in book.get_list_comments %}
                {% if item.comment|length > 1 %}
                    <div class="book-comment">
                        <p class="m-0">{{ item.comment }}<span class="book-detail__user">{{ item.user__username }}</span></p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}


    </div>
</div>
{% endblock %}