{% extends 'base.html' %}
{% load static %}

{% block title %}Book Detail|{{ book.title }}{% endblock %}

{% block content %}

<div class="book-detail">
    <h1 class="text-center pt-5">{{book.title}}</h1>
    {% if book.user == request.user %}
        <p class="book-detail__user"> You have registered this book</p>
    {% else %}
        <p class="book-detail__user"> Registered by {{ book.user}}</p>
    {% endif %}
    
    <div class="container">
        <div class="book-detail__header" >
            <!-- Book Image: Default Image has to be set manually due to cloudinary -->
            {% if book.image == 'media/books/placeholder.placeholder.webp' %}
            <div class="book-detail__picture align-self-center">
                <img src="https://res.cloudinary.com/dqtlflps3/image/upload/v1697374709/media/books/placeholder.webp" alt="{{ book.image_alt }}">
            </div>
                {% else %}
            <div class="book-detail__picture">
                <img src="{{ book.image.url }}" alt="{{ book.image_alt }}">
            </div>
            {% endif %}

            <!--Book Detail -->
            <div class="book-detail__panel">
                <div class="book-detail__info">
                    
                    <p><strong>Author</strong>: {{ book.author }}</p>
                    <p><strong>Published Year</strong>: {{ book.published_year }}</p>
                    <p><strong>Language</strong>: {{ book.language|title }}</p>

                    <!-- Book Description -->
                    <div class="book-detail__description">
                        <p> <strong>Description</strong>: {{ book.description }}</p>
                    </div>

                    <!--Book Edit/Delete Buttons-->
                    {% if request.user.is_authenticated and  book.user == request.user %}
                    <div class="buttons d-flex flex-column aling-items-end pb-3">
                        <div class="d-flex flex-row flex-grow-0 gap-2 justify-content-end">
                            <a href="{% url 'edit_book' book.id %}" class="btn action__button"> <i class="far fa-edit"> </i> Edit</a>
                            <a href="{% url 'delete_book' book.id %}" class="btn action__button"> <i class="fa-solid fa-trash"> </i> Delete</a>
                        </div>
                    </div>
                    {% endif %}
                    
                </div>
            </div>
        </div>

        <div class="book__journey">
            <!--Book Statistics-->
            <div class="book__journey--header">
                <p class="m-0 flex-grow-0" id = "Contribution"><strong>Book Journey {% if request.user.is_authenticated %}<i class="fa-solid fa-circle-info"></i> {% endif %} :</strong>
                </p>
                <span id="ContributionInfo">Add a new contribution to the book, once you read. Edit or delete your contribution later on.</span>
                
                {% if request.user.is_authenticated %}
                <div class= book__buttons>
                    {% for item in book.get_slug %}
                        {% if request.user|stringformat:"s" in item.user__username %}
                        <a href="{% url 'change_contribution' item.slug %}" class="btn book__button"> <i class="far fa-edit"> </i></a>
                        <a href="{% url 'delete_contribution' item.id %}" class="btn book__button"> <i class="fa-solid fa-trash"> </i></a>
                        {% endif %}
                    {% endfor %}

                    {% if request.user|stringformat:"s" not in book.get_contribution_users%}
                        <a href="{% url 'new_contribution' book.id %}" class="btn book__button"> <i class="fa-solid fa-plus"></i></a>
                    {% endif %}        
                </div>
                {% endif %}
            </div>
            <div class="book-statistics">
                <div>
                    <!-- total number of readers -->
                    <p class="book-stat"> Readers: <strong>{{ book.get_total_readers }}</strong> <i class="fa-solid fa-user"> </i></p>
                    <!-- total number of cities and cities list -->
                    <p class="book-stat"> Cities: <strong> {{ book.get_num_cities }}</strong> <i class="fa-solid fa-location-dot "></i></p>
                    <p class="book-stat">
                        {% for city in book.get_list_cities %}
                                <span class="book-city"> {{ city }}</span>
                            {% endfor %}
                    </p>
                </div>
            </div>

            <!-- Readers Reactions -->
            <div class="book-detail__comments">
            {% if request.user.is_authenticated %}
                {% for item in book.get_list_comments %}
                    {% if item.comment|length > 1 %}
        
                        {% if 'forloop.counter % 2' == 0  %}
                            <div class="book-comment bubble right"><p class="m-0 ">{{ item.comment }}<span class="book-detail__user">{{ item.user__username }}</span></p>
                            </div>
                        {% else %}
                            <div class="book-comment bubble left"><p class="m-0 ">{{ item.comment }}<span class="book-detail__user">{{ item.user__username }}</span></p>
                            </div>
                        {% endif %}
                                
                    {% endif %}
                {% endfor %}
            {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock %}