{% extends 'base.html' %}
{% load static %}

{% block title %}Insert Book Key{% endblock %}

{% block content %}
<div class="container form-container form-book">
    <h1 class="form__title">Insert Book Key</h1>
    <p class="text-center">Here you need to insert the key you found in the findMEreadME book in order to contribution to reactions or locations of the book.</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }} 
        {{ form|crispy }}
        <!-- Buttons -->
        <div class="d-flex flex-column flex-md-row gap-md-2">
            <button type="submit" class="btn form__button form__button--primary w-100 flex-grow-1">Insert</button>
        </div>
    </form>
</div>
{% endblock %}