{% extends 'base.html' %}
{% load static %}

{% block title %}Add Contribution{% endblock %}

{% block content %}
<div class="container form-container form-book">
    <h1 class="form__title">Add Contribution</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }} 
        {{ form|crispy }}
        <!-- Buttons -->
        <div class="d-flex flex-column flex-md-row gap-md-2">
            <button type="submit" class="btn form__button form__button--primary w-100 flex-grow-1">Save</button>
        </div>
    </form>
</div>
{% endblock %}